#loginwrap,#registerwrap{
	border: 2px solid black;
	width: 400px;
	height: 150px;
	margin: 0 auto;
	margin-top: 100px;
}

#loginForm{
	text-align: center;
	margin-top: 25px;
}

#loginTable{
	margin: 0 auto;
}

#email, #password{
	height: 25px;
}

#registerForm{
	text-align: center;
	margin-top: 20px;
}

#registerTable{
	margin: 0 auto;
}

#reg_email, #reg_password, #reg_name{
	height: 25px;
}

#board{
	width: 600px;
	height: 450px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto auto;
	margin-left: 250px;
	background: url("background.jpg");
}

.down{
	margin-bottom: -144px;
}

.up{
	margin-top: -144px;
}

.left{
	margin-top: -48px;
	margin-bottom: -96px;
}

.right{
	margin-top: -96px;
	margin-bottom: -48px;			
}

.stand{
	margin-right: -96px;
}

.left_foot{
	margin-left: -96px;
}

.right_foot{
	margin-left: -32px;
	margin-right: -64px;
}

.outer{
	width: 32px;
	height: 46px;
	position: absolute;
	overflow: hidden;
	vertical-align: top;
}

.textBox{
	margin-top: -10px;
	margin-left: -3px;
	text-align: center;
	position: absolute;
	word-wrap: break-word;
	width: 50px;
	color: yellow;
	z-index: 3;
}


#chatPanel{
	position: absolute;
	margin-right: 10px;
}

#chat{
	width: 224px;
	height: 300px;
	border: 1px solid;
	overflow-y:scroll;
	background: grey;
	word-wrap: break-word;
}

#panel{
	position: relative;
	top: 40px;
	width: 1030px;
	height: 440px;
	margin:0 auto;
}

#window_panel{
	background: black;
}